
<nav style="background-color: lightskyblue;">
    <h1 style="margin-right: 30px;">Quizzer</h1>
    <ul style="padding-left: 0px;">
        <button class="btn" routerLink="/default" routerLinkActive="active" ariaCurrentWhenActive="page">Стандартный</button>
        <button class="btn" routerLink="/chain" routerLinkActive="active" ariaCurrentWhenActive="page">Цепочки</button>
        <button class="btn" routerLink="/alphabet" routerLinkActive="active" ariaCurrentWhenActive="page">Алфавит</button>
        <button class="btn" routerLink="/finals" routerLinkActive="active" ariaCurrentWhenActive="page">Финал 15</button>
    </ul>
</nav>