<div class="container pt-1" style="border: 1px solid gray; background-color: lightcyan; width: fit-content;">
    <div class="row" *ngFor="let mult of [10,20,30,40,50];">
        <div class="col">
            <app-answer-field [pointMap]="getPointMap(mult)" (valueUpdate)="onValueUpdate($event)"></app-answer-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="mb-1" style="text-align: center;">Всего: {{getTotal()}}</p>
        </div>
    </div>
</div>
